In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [2]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
obj.values

array([ 3,  6,  9, 12])

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
ww_2_cas = Series([87000000,4300000,300000,2100000,40000],index=['USSR','Germany','China','Japan','USA'])
ww_2_cas

USSR       87000000
Germany     4300000
China        300000
Japan       2100000
USA           40000
dtype: int64

In [6]:
ww_2_cas['USA']

40000

In [7]:
# Check wich countires had casualty greater then 4 million
ww_2_cas[ww_2_cas > 4000000]

USSR       87000000
Germany     4300000
dtype: int64

In [8]:
'USSR' in ww_2_cas

True

In [9]:
# Convert a Series into a dictionary
ww_2_dic = ww_2_cas.to_dict()
ww_2_dic

{'USSR': 87000000,
 'Germany': 4300000,
 'China': 300000,
 'Japan': 2100000,
 'USA': 40000}

In [10]:
ww_2_series = Series(ww_2_dic)
ww_2_series

USSR       87000000
Germany     4300000
China        300000
Japan       2100000
USA           40000
dtype: int64

In [11]:
countries = ['China', 'Germany', 'Japan', 'USA','USSR','Argentina']

In [12]:
obj2 = Series(ww_2_series, index=countries)
obj2

China          300000.0
Germany       4300000.0
Japan         2100000.0
USA             40000.0
USSR         87000000.0
Argentina           NaN
dtype: float64

In [13]:
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [14]:
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [16]:
ww_2_series

USSR       87000000
Germany     4300000
China        300000
Japan       2100000
USA           40000
dtype: int64

In [17]:
obj2

China          300000.0
Germany       4300000.0
Japan         2100000.0
USA             40000.0
USSR         87000000.0
Argentina           NaN
dtype: float64

In [18]:
ww_2_series + obj2

Argentina            NaN
China           600000.0
Germany        8600000.0
Japan          4200000.0
USA              80000.0
USSR         174000000.0
dtype: float64

In [20]:
obj2.name = "World War II Casualties"
obj2

China          300000.0
Germany       4300000.0
Japan         2100000.0
USA             40000.0
USSR         87000000.0
Argentina           NaN
Name: World War II Casualties, dtype: float64

In [21]:
obj2.index.name = 'Countries'

In [22]:
obj2

Countries
China          300000.0
Germany       4300000.0
Japan         2100000.0
USA             40000.0
USSR         87000000.0
Argentina           NaN
Name: World War II Casualties, dtype: float64