In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [4]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value='No Data')

A          1
B          2
C          3
D          4
E        NaN
F        NaN
G    No Data
dtype: object

In [5]:
ser3 = Series(['USA', 'Russia', 'China'], index=[0,5,10])
ser3

0        USA
5     Russia
10     China
dtype: object

In [6]:
ranger = range(15)
ranger

range(0, 15)

In [7]:
ser3.reindex(ranger, method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Russia
6     Russia
7     Russia
8     Russia
9     Russia
10     China
11     China
12     China
13     China
14     China
dtype: object

WE FORGOT THE 'C' SO WE NEED TO FIX THAT

In [8]:
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'], 
                   columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  2.088434  0.030864 -0.646994 -1.997011 -1.611207
B -0.572108 -0.028185  0.115048  0.574849 -0.543190
D  0.721804 -0.120031  0.136637 -0.450839 -0.691297
E  0.842510 -0.831841  0.014969 -1.079806  1.643658
F -0.935600 -1.051970 -0.102417 -0.938187  1.014277

In [9]:
dframe = dframe.reindex(['A','B','D','C','E','F'],fill_value='No Data')
dframe

       col1       col2       col3      col4      col5
A   2.08843  0.0308645  -0.646994  -1.99701  -1.61121
B -0.572108 -0.0281853   0.115048  0.574849  -0.54319
D  0.721804  -0.120031   0.136637 -0.450839 -0.691297
C   No Data    No Data    No Data   No Data   No Data
E   0.84251  -0.831841  0.0149689  -1.07981   1.64366
F   -0.9356   -1.05197  -0.102417 -0.938187   1.01428

In [10]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [11]:
dframe.reindex(columns=new_columns, fill_value='No Data')

       col1       col2       col3      col4      col5     col6
A   2.08843  0.0308645  -0.646994  -1.99701  -1.61121  No Data
B -0.572108 -0.0281853   0.115048  0.574849  -0.54319  No Data
D  0.721804  -0.120031   0.136637 -0.450839 -0.691297  No Data
C   No Data    No Data    No Data   No Data   No Data  No Data
E   0.84251  -0.831841  0.0149689  -1.07981   1.64366  No Data
F   -0.9356   -1.05197  -0.102417 -0.938187   1.01428  No Data

WE CAN USE `DataFrame.ix` AS A SHORTHAND FOR MAPPING NEW DATA

In [12]:
week_forcast_df = DataFrame(data=0, index=['Hr','Price','Tax','Other','Total'], 
                   columns=['Mon','Tue','Wed','Thu','Fri', 'Sat'],)
week_forcast_df

       Mon  Tue  Wed  Thu  Fri  Sat
Hr       0    0    0    0    0    0
Price    0    0    0    0    0    0
Tax      0    0    0    0    0    0
Other    0    0    0    0    0    0
Total    0    0    0    0    0    0

In [13]:
weekday_col=['Mon','Tue','Wed','Thu','Fri', 'Sat','Sun']

NOT RECOMMENDED BUT ... DOCS SAY TO REINDEX

In [16]:
week_forcast_df.loc[['Hr','Price','Tax','Other','Total', 'Bonus'], weekday_col]

       Mon  Tue  Wed  Thu  Fri  Sat  Sun
Hr     0.0  0.0  0.0  0.0  0.0  0.0  NaN
Price  0.0  0.0  0.0  0.0  0.0  0.0  NaN
Tax    0.0  0.0  0.0  0.0  0.0  0.0  NaN
Other  0.0  0.0  0.0  0.0  0.0  0.0  NaN
Total  0.0  0.0  0.0  0.0  0.0  0.0  NaN
Bonus  NaN  NaN  NaN  NaN  NaN  NaN  NaN